* {
  font-family: Inter, sans-serif;
}

body {
  background: var(--primary-bg);
  color: var(--primary-text);
}
/* @layer components {

  .footer-heading {
    @apply text-4xl font-bold mb-8;
  }

  .footer-links-container {
    @apply flex flex-col gap-6;
  }

  .footer-link {
    @apply text-white/90 text-xl transition-all duration-300 hover:text-[#d4af73] hover:translate-x-2;
  }

  .footer-social-icon {
    @apply w-[70px] h-[70px]
    rounded-full
    bg-white
    text-black
    flex items-center justify-center
    transition-all duration-300
    hover:bg-[#d4af73]
    hover:-translate-y-1;
  }

  .footer-contact-item {
    @apply flex items-start gap-4;
  }

  .footer-contact-icon {
    @apply min-w-[60px]
    min-h-[60px]
    rounded-full
    bg-white
    text-black
    flex items-center justify-center;
  }

} */